
/wp-includes
/wp-admin
/wp-content/index.php
/wp-content/upgrade
/wp-content/themes
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/index.php
/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-config-sample.php
/wp-config.php
/wp-comments-post.php
/wp-blog-header.php
/wp-activate.php
/web.config
/README.md
/readme.html
/license.txt
/LICENSE